.container {
	width: 50%;
	height: auto;
	background-color: #ecececcc;
	object-fit: contain;
	box-sizing: border-box;
	position: relative;
	border: 0.25px solid #000000cc;
	overflow: hidden;
	align-items: center;
	justify-content: center;
}
.title {
	font-size: 2vw;
	color: grey;
	padding: 20px;
}
.modal {
	position: absolute;
}
.block {
	align-items: end;
	top: 0px;
	right: 0px;
	position: absolute;
	width: 20%;
	height: 100%;
	display: flex;
}

@media (min-width: 1200px) {
	.container {
		width: 25%;
		height: 37.2vw;
	}
	.textBlock {
		font-size: 1vw;
	}
}

/* HTML: <div class="loader"></div> */
.loader {
	width: fit-content;
	font-family: monospace;
	white-space: pre;
	line-height: 1.2em;
	height: 1.2em;
	overflow: hidden;
}
.loader:before {
	content: 'Loading...\A⌰oading...\A⌰⍜ading...\A⌰⍜⏃ding...\A⌰⍜⏃⎅ing...\A⌰⍜⏃⎅⟟ng...\A⌰⍜⏃⎅⟟⋏g...\A⌰⍜⏃⎅⟟⋏☌...\A⌰⍜⏃⎅⟟⋏☌⟒..\A⌰⍜⏃⎅⟟⋏☌⟒⏁.\A⌰⍜⏃⎅⟟⋏☌⟒⏁⋔';
	white-space: pre;
	display: inline-block;
	animation: l39 1s infinite steps(11) alternate;
}

@keyframes l39 {
	100% {
		transform: translateY(-100%);
	}
}
